body {
    margin: 0;
}
.frame{
    display:flex; 
    background-color:#CCCCCC;
    width: 100%;height: 50px;
    justify-content:center;
    align-items: center;
    padding: 5px 10px;
}

.headline{ /*left*/
    font-size: 30px;font-weight: bold;
    flex:none;
    width:200px;
    text-align: center;
    
    
}
.desktop-menu{ /*.right*/
    flex:auto;
    display:flex;
    text-align: right;
    justify-content: flex-end;
    padding-right: 10px;
}

.item{
    flex:none;
    margin-right:10px;
    text-align: center;
}
.mobile-menu{ /*.right*/
    flex:auto;
    align-items: center;
    text-align: center;
   
}
.button-box{
    width: 100%;
    justify-content:center;
    align-items: center;
    display: flex;
}
button{
    flex:none;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content:center;
    border: 0;
    background-color: aqua;
}
input{
    flex:none;
    text-align: center;
    justify-content:center;
    align-items: center;
}

.list{
    display: flex;
    justify-content:center;
    flex-wrap:wrap ;
}



section{
    display: block;
    
}
h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.product{
    flex:none;
    padding: 10px;
    width:580px;height: 200px;margin:10px;
    background-color: lightblue;
    text-align: center;
}



.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color:#A1CAF1;
}
.text{
    width: 300px;height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


 


@media (min-width:1200px){
    /* 螢幕寬度大於 1200PX, 套用這個區塊的CSS*/
    .list{
        flex-wrap:wrap;
    }
    .product{
        width:45%;
    }
    .mobile-menu{
        display: none;
    }
}

@media (min-width:800px) and (max-width:1199px){
    /* 平板螢幕寬度小於 1250PX, 套用這個區塊的CSS*/
    .list{
        flex-wrap:wrap;
    }
    .product{
        width:45%;
    }
    .mobile-menu{
        display: none;
    }
}


@media (min-width:500px) and (max-width:799px){
    /* 平板螢幕寬度小於 1250PX, 套用這個區塊的CSS*/
    /* 手機螢幕寬度小於 500PX, 套用這個區塊的CSS*/
    .headline{
        font-size: 20px;
    }
    .desktop-menu{
        display: none;
    }
    .mobile-menu{
        display: block;
        text-align: right;
    }
    
    .product{
        width:45%;
    }
}

@media (max-width:499px){
    /* 手機螢幕寬度小於 500PX, 套用這個區塊的CSS*/
    .headline{
        font-size: 20px;
        
    }
    .desktop-menu{
        display: none;
        justify-content: flex-end;
        
    }
    .mobile-menu{
        display: block;
        justify-content: flex-end;
        text-align: right;
    }
    .product{
        width:90%;
    }
}